#contact iframe
{
    width: 100%;
}

.travel_mainDiv
{
    border: 1px solid lightgrey;
}

.travel_mainDiv img
{
    width: 100%;
}

.travel_mainDiv h5 , .travel_mainDiv p
{
    margin: 20px;
}

#logo
{
    width: 40px;
    border-radius: 10px;
}

#store
{
    border-radius: 15px;
}

.myCarousel{
    border-radius: 10px;
}

.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie_head i
{
    float: right;
}

.movie_text span
{
    color: orange;
}

#jerome
{
    border-radius: 10px;
}

.h3
{
    text-align: center;
}